body {
    background-color: rgba(222, 222, 222, 1);
}

h1 {
    margin-bottom: -15px;
}

.title {
    text-align: center;
    margin-bottom: -15px;
}

.description {
    text-align: center;
    margin-bottom: -10px;
}

.centralArea {
    overflow: hidden;
}

.toggle-language-area {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 50%;
    height: 35px;
}
   
.toggle-language-area input[type="radio"] {
    display: none;
}
   
.toggle-language-area label {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 30px;
    font-size: 18pt;
    font-weight: bold;
    border: 2px solid #ccc;
}
   
.toggle-language-area #toggle-language-english + label {
    right: 50%;
    background: #eee;
    color: #666;
    border-right: none;
}
   
.toggle-language-area #toggle-language-english:checked +label {
    color: #f00;
}
   
.toggle-language-area #toggle-language-japanese + label {
    left: 43%;
    background: #eee;
    color: #666;
    border-left: none;
}
   
.toggle-language-area #toggle-language-japanese:checked +label {
    color: #f00;
}

.change {
    text-align: center;
}

.input-textarea {
    width: 65px;
    height: 18px;
    background: #eee;
    text-align: center;
    resize: none;
}


#input-morse {
    width: 55%;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    resize: none;
}

#output-morse {
    width: 55%;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}

.footer {
    text-align: center;
}
